---
import '../index.css';
import Background from '../components/Background';
import AdminPage from '../components/Admin';
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Telegraph Image Hosting</title>
  </head>
  <body>
    <Background client:load />
    <AdminPage client:only="react" />
  </body>
</html>
