---
import '../index.css';
import Background from '../components/Background';
import Uploader from '../components/Uploader';
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegraph Image Hosting</title>
  </head>
  <body>
    <Background client:load />
    <Uploader client:load />
  </body>
</html>
